.search-panel{
    margin-top: 15px;
    width: 100%;
    padding: 25px;
    background: #FEDA79;
    border: 2px solid black;
    border-radius: 24px;
    color: black;
}
.search-input{
    width: 100%;
    background: #FEDA79;
    border: none;
    border-bottom: 2px solid black;
    color: black;
}
input[type=text]:focus{
    border: none;
}
