.btn-group{
    display: block;
    margin-top: 20px;
}
.button-filter {
  align-items: center;
  appearance: none;
  background-color: #FEDA79;
  border: 1px solid #000000;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 10px;
}

.button-filter:active {
  border-color: #ffffff;
  color: white;
  background-color: #FEDA79;
  outline: 0;
  box-shadow: 1px 1px rgb(0, 0, 0, .5), -1px -1px rgb(0, 0, 0, .5);
}

.button-filter:hover {
  border-color: #000000;
  background-color: black;
  color: #FEDA79;
}
